body {
  font-family: Arial, sans-serif;
}

#content {
  text-align: center;
  margin-top: 50px;
}

#actionButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  visibility: visible;
}
.topnav {
  background-color: hsla(308, 70%, 74%, 0.74);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: rgb(67, 130, 188);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d4f9ff;
  color: black;
  text-align: center;
}
